body >*{
    padding: 2rem 0;
}
h1{
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-weight: 500;
}
button{
    background-color: blue;
    color: #fff;
}
button:hover{
    background-color: green;
}